<div class="category-container">
    <mat-card *ngFor="let dish of dishes" class="example-card">

      <img 
      mat-card-image
      (click)="redirectToDish(dish.id)"
      [src]= "dish.img" alt="dish">

      <mat-card-header>
        <mat-card-title
        (click)="redirectToDish(dish.id)"
        >{{ dish.nameDish }}</mat-card-title>             
      </mat-card-header>
      
      <div class="price">        
        <span class="price-val">{{ dish.price | currency }}</span>
      </div>

      <mat-card-actions class="btns">
        <button
          mat-raised-button
          (click)="redirectToDish(dish.id)"
          color="primary">
          Деталі
        </button>
        <button
          mat-raised-button
          (click)="addToBasket(dish)"
          class="btns-basket">
          Замовити
        </button>
        
      </mat-card-actions>
    </mat-card>
  </div>
  
