.category-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .example-card {
    max-width: 250px;
    max-height: 400px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  img, mat-card-title{
    cursor: pointer;
    
    &:hover {
      color: #F2B33F;
    }
  }

  .btns {
    padding: 5px;
    display: flex;
    justify-content: space-between;
  
    &-basket {
      width: 50%;
      background-color: yellowgreen;
      color: #fff;
    }
  }
  
  .price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
  
    &-val {
      font-size: 18px;
      font-weight: 500;
      color: #6b9517;
    }
  }