<div class="basket-container" >
    <mat-card  class="example-card" *ngIf="totalQ > 0">
        <mat-card-header>
            <mat-card-title class="title-item">Кошик</mat-card-title>          
        </mat-card-header>

        <mat-card-content class="cart-product-item" *ngFor="let cartDish of cartList">
            <div class="image-block">
                <img mat-card-image [src]= "cartDish.dish.img" alt="dish" (click)="redirectToDish(cartDish.dish.id)">
            </div>

            <div class="description-block">
                <p class="name-dish"(click)="redirectToDish(cartDish.dish.id)">{{ cartDish.dish.nameDish }}</p>
                <p>{{ cartDish.dish.exitDish | weight }}</p>
            </div>
           
            <div class="cost-amount">
                <i class="material-icons" (click)="increment(cartDish.dish)">add_circle_outline</i>
                    <p class="cost-amount-quantity"> {{cartDish.quantity}}</p>
                <i class="material-icons" (click)="decrement(cartDish.dish)">remove_circle_outline</i>
            </div>
          
            <div class="price-block"> 
                <span class="price-val">{{ cartDish.dish.price * cartDish.quantity | currency }}</span>
            </div>
            <div class="block-clear" (click)="removeFromBasket(cartDish)">
                <i class="material-icons" >cancel</i>
            </div>
        </mat-card-content>
        
        <mat-card-content class="simple-item">
            <div class="type-delivery">
                <label id="example-radio-group-label">Спосіб доставки:</label>                
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="type">
                        <mat-radio-button
                            class="example-radio-button"
                            *ngFor="let delivery of deliveryList"
                            [value]="delivery"
                            >
                            {{ delivery.type }}
                        </mat-radio-button> 
                    </mat-radio-group>
            </div>          
        </mat-card-content>

        <mat-card-content class="simple-item">
            <div class="all-product-price">
                <span>Сума замовлення: {{ subPrice | currency}}</span>
            </div>

                <div class="all-product-price" *ngIf="type && subPrice < 500">
                    <span> {{ type.type }}: {{ type.price | currency }}  </span>
                </div>
    
                <div class="all-product-price-order" *ngIf="type && subPrice < 500">
                    <span>Разом: {{ subPrice + type.price | currency }}</span>
                </div>

                <div class="all-product-price-order" *ngIf="type && subPrice >= 500">
                    <span>Разом: {{ subPrice | currency }}</span>
                </div>

            <div class="report-problem" *ngIf= "subPrice < 200">
                <i class="material-icons">report_problem</i>
                <span>мінімальне замовлення: 200 грн</span>
            </div>
        </mat-card-content>

        <mat-card-actions class="btns">
            <a mat-button routerLink="/category/All dishes" color="warn" class="btns-link">
                <i class="material-icons">keyboard_arrow_left</i>
                <span>Повернутись в магазин</span>          
            </a>
                 
            <button mat-raised-button class="btns-basket" *ngIf="totalQ > 0" (click)="addToOrder(cartList)" >Оформити замовлення</button>
        </mat-card-actions>
    </mat-card>


    <mat-card  class="example-card" *ngIf="totalQ == 0">
        <mat-card-header>
            <mat-card-title class="title-item">Кошик</mat-card-title>          
        </mat-card-header>

        <mat-card-content class="simple-item">
            <span> Ваш кошик порожній.</span>
        </mat-card-content>
        
        <mat-card-actions class="btns-link">
            <a mat-button routerLink="/category/All dishes" color="warn">
                <i class="material-icons">keyboard_arrow_left</i>
                    <span>Повернутись в магазин</span>          
            </a>
        </mat-card-actions>

    </mat-card>
    
</div>

<!-- <div class="basket-container" >
    <div class="example-card">
            <div class="title-item">Кошик</div>
    
            <div class="divider"></div>
            
            <div class="cart-product-item" *ngFor="let cartDish of cartList">
                <img class="image-block" [src]= "cartDish.dish.img" alt="dish">

                <div class="description-block">
                    <p>{{ cartDish.dish.nameDish }}</p>
                    <p>{{ cartDish.dish.exitDish | weight }}</p>
                </div>

                <div class="cost-amount">
                    <i class="material-icons" (click)="increment(cartDish.dish)">add_circle_outline</i>
                     <p> {{cartDish.quantity}}</p>
                    <i class="material-icons" (click)="decrement(cartDish.dish)">remove_circle_outline</i>
                </div>
              
                <div class="price-block"> 
                    <span class="price-val">{{ cartDish.dish.price * cartDish.quantity | currency }}</span>
                </div>
                <div class="block-clear" (click)="removeFromBasket(cartDish)">
                    <i class="material-icons" >cancel</i>
                </div>
            </div>
    
            <div class="divider"></div>

    
            <div class="simple-item">
                <div class="all-product-price">
                    К-сть: <span> {{ totalQ }}</span>
                    Сума замовлення: <span> {{ totalPrice | currency}}</span>
                </div>
                <div class="report-problem" *ngIf= "totalPrice < 200">
                    <i class="material-icons">report_problem</i>
                    <span>мінімальне замовлення: 200 грн</span>
                </div>
            </div>
        </div>
    
        <div class="btns">
            <a mat-button routerLink="/category/All dishes" color="warn" class="btns-link">
                <i class="material-icons">keyboard_arrow_left</i>
                <span>Повернутись в магазин</span>          
            </a>
                 
            <button mat-raised-button class="btns-basket">Оформити замовлення</button>
        </div>
</div> -->


