.basket-container{
    width: 70%;
    // min-height: 80%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}

.example-card{
    width: 90%;
    background-color: #fff;
    color: #000;

    &-empty{
        text-align: center;
      }
}

mat-card-header{
    border-bottom: 1px solid #E0E0E0;
}

.title-item{
    font-size: 32px;
    margin-top: 12px;
}

.cart-product-item{
    display: flex;
    justify-content: center;
    padding: 15px; 
    border-bottom: 1px solid #E0E0E0;
}

.image-block{
    height: auto;
    width: 120px;
    padding-top: 10px;   
    
}

img, .name-dish{
    cursor: pointer; 
    &:hover {
        color: #F2B33F;
      }
}

.description-block{
    width: 40%; 
    display: inline-block;
    padding-left: 30px;
}

.cost-amount, .price-block{
    width: 20%;
    display: flex;

    &-quantity{
        padding: 0 10px;
    }
}

.block-clear{
    width: 10%;
}

.simple-item{    
    font-size: 16px;
    padding: 10px;
    border-bottom: 1px solid #E0E0E0;
}

.btns{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
       
    &-basket{
        width: 40%;
        background-color: yellowgreen;
        color: #fff;
      }
}

.report-problem{
    color: #dec000;
}

.material-icons{
    cursor: pointer;
}

.example-radio-group {
    display: flex;
    flex-direction: row;
    margin: 15px 0;

    &-button{
        margin: 5px;
    }
  }
