.basket-container{
    width: 75%;
    min-height: 80%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}

.example-card{
    width: 100%;
    background-color: #fff;
    color: #000;
}

.title{
    font-size: 32px;
    margin-top: 12px;
}

.cart-product-item{
    display: flex;
    justify-content: center;
    padding: 15px; 
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
}

.image-block{
    width: 100px;
    height: 90px;
    padding-top: 10px;    
}

.description-block{
    width: 30%; 
    text-align: left;
    display: inline-block;
    // padding-top: 10px;
}

.cost-amount{
    width: 30%;
    display: flex;
}

.input-style {
    text-align: center;
    width:50px;
    line-height: 58px;
    // background: #eee;
    // color:#7b7b7b;
    border: 0;
  }

.block-clear{
    width: 10%;
}

.simple-item{    
    text-align: right;
    font-size: 16px;
    padding: 10px;
}

.btns{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #E0E0E0;
       
    &-basket{
        width: 40%;
        background-color: yellowgreen;
        color: #fff;
      }
}

.report-problem{
    color: #dec000;
}

.material-icons{
    cursor: pointer;
}







/////
.block{
    // position: absolute;
    height: 25px;
    width: 25px;
    // display: block;
    // top: 50%;
    // margin-top: -10px;
    // right: 10px;
    border: 1px solid #E0E0E0;
    border-radius: 50%;
    margin: 10px;
}

.divider {
    width: 100%;
    border-bottom: 1px solid #E0E0E0;
    margin: 0 20px;
} 

.basket-simle-wrapper{
    width: 100%;
    // padding-left: 70px;
    // padding-right: 70px;
    color: #000000;
}