<div class="conditions-container">
    <div class="conditions-title">Доставка і оплата</div>
    <div class="divider"></div>

    <div class="conditions-container-2">
        <div class="conditions-description">
            <p>Доставляємо страви та обіди з ресторації галицької кухні!</p>
    
            <p><strong>Як замовити?</strong>
                <br>
                - в он-лайн магазині або зателефонувати у ресторан
            </p>
                         
            <p><strong>Як швидко доставляємо?</strong>
                <br>
                - готову їжу – 1-1,5 години з моменту оплати;
                <br>
                - замовлення надіслане після 20:00 буде опрацьоване наступного дня з 12:00
            </p>
                        
            <p><strong>Умови та форми доставки страв та обідів</strong>
                <br>
                - мінімальне замовлення - від 200 грн;
                <br>
                - доставляємо по всьому Львову. Вартість - 50 грн;
                <br>
                - замовлення від 500 грн. - доставка безкоштовна по Львову
            </p>
                                                
        </div>
                
        <div class="conditoins-schedule">

            <h2>Працюємо щодня з 12:00 до 20:00</h2>
            <p class="phone">+38 (068) 99 89 994</p>
    
            <p><strong>Як оплатити?</strong>
                <br>
                - карткою на сайті;
                <br>
                - переказом на батьківську картку;
                <br>
                - готівкою на місці
            </p>         
            
        </div>
    </div>   

</div>